
<!-- main content -->
<div class="container">

  <div class="sixteen columns">
    <h1 class="remove-bottom" style="margin-top: 40px">Spandex</h1>
    <hr />
  </div>

  <div class="one-third column">
    <h3>What is Spandex?</h3>
    <p>Spandex is a static site generator built on Node JS and Grunt.  Designed from the ground&#8211;up to build modern sites in HTML &amp; CSS without the overhead of a CMS.</p>
    <p>Keep your CSS and JS organized in files, preview your site during development, optimize for deployment to production, and let the automated build process handle repetitive tasks.</p>
  </div>

  <div class="one-third column">
    <h3>Functionality</h3>
    <p>Spandex includes these core functionalities:</p>
    <ul class="disc">
      <li>Concatentate, minify, and rev JS and CSS files</li>
      <li>Minify images</li>
      <li>Server-side Templating w/ EJS</li>
      <li>Layout Management with EJS Includes</li>
      <li>Local Server w/ Node Connect</li>
    </ul>
  </div>
  
  <div class="one-third column">
    <h3>Getting Started</h3>
    <p>The project documentation, including install instructions and dependencies, can be found on <a href="https://github.com/shaekuronen/spandex" target="_blank">Github</a>.</p>
  </div>

</div>
<!-- end main content -->